.container {
  max-width: 1335px;
  margin: auto;
  position: relative;
}

.flex-container {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}
